.container{
    width:100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    max-height: 100vh;
    margin-top: 20px;
    height: 79.1vh;
    background-image: linear-gradient(to right,#CC3333,white,#333333 );
    border-bottom: 4px solid #333333;

}

.section{
    border: 5px solid #437e1b;
    margin: 20px;
    border-radius: 100px;
    height: 78vh;
    scroll-snap-align: center;
}


.image{
    width:auto;
    height: 100%;
    border-radius: 95px;
    margin-left: auto;
    margin-right: auto;
}




.titlebox{
    background-color: #CC3333;
    vertical-align: center;
    color: white;
    font-weight: bold;
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 500px;
    height: 25%;
    font-size: 4em;
    vertical-align: bottom;
}


.map{
    align-items: right;
}